{% extends "::two-col.html.twig" %}

{% block title %}{% trans %}Backend Entrance{% endtrans %}{% endblock %}

{% block sidebar %}

{% endblock %}

{% block body %}
	
	<div class="panel panel-default">
	<div class="panel-body">
		
		{% if role == 'ADMIN' %}
			<p class="lead">{% trans %}Take me to{% endtrans %}</p>
			<p class="help-block">{% trans %}This account is both a site administrator and teacher, please choose which area you would like to access. {% endtrans %}</p>
			<a type="button" class="btn btn-default btn-lg btn-block" href="{{ path('admin_dashboard') }}"><i class="fa fa-cog fa-fw"></i> {% trans %}Administration Panel{% endtrans %}</a>
			<a type="button" class="btn btn-default btn-lg btn-block" href="{{ path('teacher_dashboard') }}"><i class="fa fa-user fa-fw"></i> {% trans %}Teacher Panel{% endtrans %}</a>
		{% endif %}

		{% if role == 'TEACHER' %}
			
		{% endif %}

		{% if role == 'LEARNER' %}
			<p>LEARNER</p>
		{% endif %}

		{% if role == 'VISITOR' %}
			<p>VISITOR</p>
		{% endif %}
	</div>
	</div>

{% endblock %}
