{% extends "::two-col.html.twig" %}

{% block title %}{% trans %}Settings{% endtrans %}{% endblock %}

{% block sidebar %}
{% include "OTBackendBundle:Admin:sidebar.html.twig" %}
{% endblock %}

{% block body %}
	<div class="panel panel-default">
	<div class="panel-heading">{% trans %}Settings{% endtrans %}</div>
	<div class="panel-body">
		<p class="lead">
			{% trans %}Settings{% endtrans %}
		</p>

		<a type="button" class="btn btn-danger btn-md" href="{{ path('admin_force_change_password') }}">{% trans %}Force reset user password{% endtrans %}</a>

		<hr />

		<p class="help-block"><span class="label label-info">{% trans %}BETA{% endtrans %}</span> {% trans %} To save budget, some (or all) functions in this page are not designed to be included in this previwe version. {% endtrans %}</p>
	</div>
	</div>
{% endblock %}


