{% extends '::two-col.html.twig' %}


{% block title %}{% trans %}New Booked Time{% endtrans %}{% endblock %}

{% block sidebar %}
{% include "OTBackendBundle:Teacher:sidebar.html.twig" %}
{% endblock %}

{% block body -%}
    <h1>BookedTime creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('teacher_bookedtime') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
