{% extends "::two-col.html.twig" %}

{% block title %}{% trans %}Dashboard{% endtrans %}{% endblock %}

{% block sidebar %}
{% include "OTBackendBundle:Teacher:sidebar.html.twig" %}
{% endblock %}

{% block body %}
	<div class="panel panel-default">
	<div class="panel-heading">{% trans %}Dashboard{% endtrans %}</div>
	<div class="panel-body">

	<p class="lead">Welcome!</p>

	<p>[Upcoming courses will be shown here.]</p>

	<p>{% trans %}Choose a feature on the left:{% endtrans %}</p>

	<p>{% trans %}If you are also a system administrator, you can{% endtrans %}

		<a href="{{ path('admin_dashboard') }}"><i class="fa fa-random fa-fw"></i> {% trans %}Switch to administrator role.{% endtrans %}</a>

	</p>

	</div>
	</div>

<p class="help-block">{% trans %}If you have any questions, please contact school365.{% endtrans %}</p>

{% endblock %}
