{% extends '::two-col.html.twig' %}


{% block title %}{% trans %}View Weekly Plan{% endtrans %}{% endblock %}

{% block sidebar %}
{% include "OTBackendBundle:Teacher:sidebar.html.twig" %}
{% endblock %}

{% block body -%}
    <h1>Weekplan list</h1>

    {{ entity|raw }}

    {#
    <table class="table">
        <thead>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
        </thead>
        <tbody>
        {% for entity in entities %}

        {% endfor %}
        </tbody>
    </table>

    <hr/>

    #}

    {#

        <ul>
        <li>
            <a href="#">
                Create a new entry
            </a>
        </li>
    </ul>

    #}
{% endblock %}
