{% extends '::two-col.html.twig' %}


{% block title %}{% trans %}View Weekly Plan{% endtrans %}{% endblock %}

{% block sidebar %}
{% include "OTBackendBundle:Teacher:sidebar.html.twig" %}
{% endblock %}

{% block body %}
    
    <p class="lead">{% trans %}My Calendar{% endtrans %}</p>

    <div class="row">

        <div class="col-md-11">

            <table class="table table-condensed table-hover">
                <thead>
                    <th>Start Time</th>
                    <th>End Time</th>
                </thead>
                <tbody>
                    {% for event in response %}
                        <tr>
                        <td>{{ event.start|date('Y-m-d H:i:s') }}</td>
                        <td>{{ event.end|date('Y-m-d H:i:s') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>


        </div>


    </div>{# row #}
    
{% endblock %}
