{% extends "::base.html.twig" %}

{% block title %}{% trans %}Backend Entrance{% endtrans %}{% endblock %}

{% block sidebar %}
{% include "OTBackendBundle:Admin:sidebar.html.twig" %}
{% endblock %}

{% block body %}
	
	<div class="panel panel-default">
	<div class="panel-body">
		<p class="lead">{% trans %}Take me to{% endtrans %}</p>
		<p class="help-block">{% trans %}This account is both a site administrator and teacher, please choose which area you would like to access. {% endtrans %}</p>
		<a type="button" class="btn btn-default btn-lg btn-block" href="{{ path('dashboard') }}"><i class="fa fa-cog fa-fw"></i> {% trans %}Administration Panel{% endtrans %}</a>
		<a type="button" class="btn btn-default btn-lg btn-block" href="#"><i class="fa fa-user fa-fw"></i> {% trans %}Teacher Panel{% endtrans %}</a>
	</div>
	</div>

{% endblock %}
