{% extends '::base.html.twig' %}

{% block body -%}

    <h1>OnlineTutoring Platform</h1>

    <p class="lead">Welcome!</p>

    <blockquote>

    This is a blank homepage of the platform. It could be developed into a homepage of your educational business.

    </blockquote>

    <strong>Click on the top-right corner to log in.</strong>

{% endblock %}
