{% extends "::two-col.html.twig" %}

{% block title %}{% trans %}Teacher Mgt.{% endtrans %}{% endblock %}

{% block sidebar %}
{% include "OTBackendBundle:Admin:sidebar.html.twig" %}
{% endblock %}

{% block body %}

	<ul class="nav nav-tabs" role="tablist">
		  <li class="active"><a href="#">{% trans %}Edit a User{% endtrans %}</a></li>
	</ul>

	<div class="panel-body">
		<p class="lead">
			{% trans %}Edit a User{% endtrans %}
		</p>
		
		{{ form(form) }}

		<hr />

	</div>

{% endblock %}

