{% extends "::two-col.html.twig" %}

{% block title %}{% if force == 'false' %}{% trans %}Change Password{% endtrans %}{% elseif force == 'true' %}{% trans %}Force Change Password{% endtrans %}{% endif %}{% endblock %}

{% block sidebar %}
{% include "OTBackendBundle:Admin:sidebar.html.twig" %}
{% endblock %}

{% block body %}
	<div class="panel panel-default">
	<div class="panel-heading">{% if force == 'false' %}{% trans %}Change Password{% endtrans %}{% elseif force == 'true' %}{% trans %}Force Change Password{% endtrans %}{% endif %}</div>
	<div class="panel-body">
		<p class="lead">
			{% if force == 'false' %}{% trans %}Change Password{% endtrans %}{% elseif force == 'true' %}{% trans %}Force Change Password{% endtrans %}{% endif %}
		</p>

		{% if force == 'true' %}
			<p class="help-block"><span class="label label-danger">{% trans %}Warning{% endtrans %}</span> {% trans %}You are force changing the password of another user. This operation is NOT recoverable.{% endtrans %}
			</p>
			<hr />
		{% endif %}

		{{ form(form) }}

		<hr />
		
	</div>
	</div>
{% endblock %}


